/*colors
-DFD9D5...light bage
-584B53...purple gray
-FCF9F7...off white
*/


/*body*/
.body_content {
background-color: #FCF9F7;
font-family: "Georama", serif;

max-width: 1224px;
font-size: 15px;
height: auto;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
padding-top: 0%;
padding-bottom: 0%;
padding-left: 0%;
padding-right: 0%;

}

/* norm header*/
.header_content {
background-color: #DFD9D5; 
padding: 22px;
font-family: 'Georama', sans-serif;

}

/*Warm Wonders Logo*/
.logo {
font-family: 'Akaya Kanadaka', serif; 
font-size: 33px; 
font-weight: bold; 
color: #584B53;
text-decoration: none;
        
}

.header_content nav {
display: flex;
justify-content: space-between; 
align-items: center;

}

/*Sub Heading*/
.fav-heading {
font-family: 'Georama', sans-serif;
font-size: 35px; 
font-weight: bold; 
padding: 2px;
color: #584B53;
}

ul {
list-style: none; 
margin: 0;
padding: 0;
display: flex; 

}

.nav-right {
    gap: 25px; 
}

a {
    text-decoration: none; 
    color: #584B53; 
    font-size: 14px; 
}

/*Favs Pics*/
#containerImg{
width: 100%;
display: flex;
justify-content: space-between;
border-width: 0px;
padding: 0%;
margin: 0%;
border: none;

}

.image_cotainer{
width: 222px;
height: 111px;
border: 1px solid #584B53;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;

}

.img_container{
width: 24%;

}

.img_container figure{
margin: 0px;
}

.img_container img{
width: 100%;
}

/*muffin landing*/
.heroLanding{
width: 100%;
}

.heroLanding img{
width: 100%;
height: 85vh;
}

/*fav description..option*/
figcaption {
background-color: #DFD9D5; 
padding: 10px;
padding-bottom: 10px;
font-family: 'Georama', sans-serif;
font-weight: 500;
color: #584B53;
text-align: center;
margin-top: 10px;

/*Bottom Header*/
}
.bottom_header_content {
background-color: #DFD9D5; 
padding: 20px;
font-family: 'Georama', sans-serif;
margin-top: 30px;
text-align: center; 

}

/*Bottom Header text*/
.bottom_header_content .logo {
font-size: 20px;
font-weight: bold;
color: #584B53;
text-align: center;

}

.nav-bottom li{
    width: 100%;

}

/* iPhone Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) and (orientation: portrait) { 

}

/* iPhone Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (orientation: landscape) { 

/* iPad Portrait */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
  
}

/* iPad Landscape */
@media only screen 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape)  {

}

}
/* Non-Retina Screens Laptop */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px)  { 

}

/* Retina Screens Laptop */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (min-resolution: 192dpi) { 
}